* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window {
    background-color: #181510;
    border: 2px solid #e8623a;
    border-radius: 12px;
}

#input {
    background-color: #2a231a;
    color: #d4c5b0;
    border: 1px solid #3a302a;
    caret-color: #e8623a;
}

#entry:selected {
    background-color: #2a231a;
    color: #e8623a;
}

#text { color: #d4c5b0; }
#text:selected { color: #e8623a; }

#input:focus {
    border: 1px solid #cba6f7;
}

#inner-box {
    background-color: #1e1e2e;
    border-radius: 0px 0px 8px 8px;
}

#outer-box {
    padding: 8px;
}

#scroll {
    margin: 4px;
}

#entry {
    border-radius: 8px;
    padding: 4px;
}

#entry:selected {
    background-color: #313244;
}

#entry:selected #text {
    color: #cba6f7;
}

#img {
    padding-right: 8px;
}
